* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --unit: 100vw / 1000;
  --unitSp: 100vw / 375;
}
@font-face {
  font-family: "Tungsten", serif;
  src: url(/Tungsten.woff);
}
::selection {
  color: #f7383f;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #f7383f;
  border-radius: 5px;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #27272a;
  color: #f0f0f0;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  overflow-x: hidden;
}
a {
  color: #f0f0f0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0 0 0 1rem;
}
