.siteTitleLink {
  font-family: "Tungsten", serif;
  font-size: min(calc(24 * var(--unit)), 24px);
  text-decoration: none;
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.headerSiteTitle {
  padding: 15px;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

@media (max-width: 767px) {
  .siteTitleLink {
    font-size: calc(18 * var(--unitSp));
  }
}
