.socialLinks {
  display: flex;
  justify-content: center;
  margin-top: min(calc(20 * var(--unit)), 20px);
  margin-bottom: min(calc(30 * var(--unit)), 30px);
  gap: min(calc(5 * var(--unit)), 5px);
}

.profileName {
  margin-top: min(calc(20 * var(--unit)), 20px);
  font-size: min(calc(40 * var(--unit)), 40px);
  font-weight: 500;
  text-align: center;
  letter-spacing: min(calc(1 * var(--unit)), 1px);
}

.profileImage {
  max-width: min(calc(200 * var(--unit)), 200px);
  margin-left: auto;
  margin-right: auto;
}

.profileImage img {
  border-radius: 9999px;
  border: min(calc(4 * var(--unit)), 4px) solid #aaa;
}

@media (max-width: 767px) {
  .profileImage {
    margin-top: calc(24 * var(--unitSp));
  }
}
